[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
tuktuk_counter = "6wpZxCkv6bZwosC1WHqqhm2sDZfV3oA7fSMU78vkipaR"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
cron = "yarn run ts-node cron/cron.ts --cronName tuktuk-counter-cron --queueName tuktuk-counter --walletPath ~/.config/solana/id.json --rpcUrl https://api.devnet.solana.com"
